<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tripfinde.tripfinde">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TripFinde"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".GestionCuenta"
            android:exported="false" />
        <activity
            android:name=".TipoLugar"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Lugar"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".App"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CrearCuenta"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IniciarSesion"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentacion"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>